.main {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#scouting {
  display: inline;
  position: absolute;
  margin-top: 25em;
  margin-left:30em;
}

#ts {
  display: inline;
  position: absolute;
  margin-top: 25em;
  margin-left:40em;
}

#selling {
  display: inline;
  position: absolute;
  margin-top: 25em;
  margin-left:50em;
}
