body {
    background-image: linear-gradient(rgb(63, 63, 63) 0px, rgb(0, 0, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(63, 63, 63);
}

.main {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#scouting {
  display: inline;
  position: absolute;
  margin-top: 25em;
  margin-left:30em;
}

#tsing {
  display: inline;
  position: absolute;
  margin-top: 25em;
  margin-left:40em;
}

#selling {
  display: inline;
  position: absolute;
  margin-top: 25em;
  margin-left:50em;
}
